body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(42deg, #07f, #7300ff, #ff0368);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

h1 {
  display: inline-block;
  margin: 2%;
  font-size: 40px;
}

button {
  border: 2px solid black;
  color: black;
}

#score-container {
  font-size: 20px;
  margin: 20px 0 20px 100px;
  display: flex;
  flex-direction: column;
}

.refresh {
  margin-top: 10px;
  display: flex;
  padding: 0 50px;
}

.refresh button {
  font-size: 20px;
  height: 40px;
  width: 100px;
  margin-top: 2.8%;
  margin-left: 10px;
  background: transparent;
}

h2 {
  font-size: 40px;
}

.scores {
  width: 35%;
  border: 2px solid black;
  margin: 30px;
}

.displayed-score {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
}

.input-scores {
  font-size: 30px;
  margin: 2% 15% 2% 5%;
  position: absolute;
  right: 0;
  top: 100px;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  float: right;
}

.input-scores label {
  margin: 10px;
}

.input-scores input {
  border: 3px solid black;
  font-size: 20px;
  margin: 10px;
  height: 40px;
  width: 200px;
  margin-right: 70px;
  background: transparent;
}

.input-scores input::placeholder {
  color: black;
}

.input-scores button {
  border: 2px solid black;
  font-size: 26px;
  height: 40px;
  width: 100px;
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 5px;
  background: transparent;
  display: flex;
  align-self: flex-end;
  margin-right: 80px;
}

button:hover {
  cursor: pointer;
  background-color: aliceblue;
}

@keyframes color {
  0% {
    /* Change the background position to the left */
    background-position: left;
  }

  50% {
    /* Change the background position to the right */
    background-position: right;
  }

  100% {
    /* Set the background position to the left again */
    background-position: left;
  }
}
